body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width:25vw;
    margin-top: 2rem;;
}

.sign-up-form {
    display: flex;
    flex-direction: column;
}

.sign-up-form h2 {
    margin-bottom: 20px;
    color: #3565c9;
    text-align: center;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #666;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.btn {
    /* padding: 10px; */
    border: none;
    background-color: #007BFF;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
}
.btn1{
    /* padding: 10px; */
    border: none;
    width:80px;
    background-color: #007BFF;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 4rem;
}

.btn:hover {
    background-color: #0056b3;
}

.error-msg{
    color: rgb(255, 93, 93);
  }